@{
    ViewBag.Title = "Описание";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Данная работа выполнена в рамках дисциплины Проектирование архитектуры программных систем. Работа является веб-приложением для работы с музыкальным каталогом</p>
